In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('preprocessed.csv')

In [18]:
df.shape

(27820, 9)

In [11]:
new_df = df.copy()

In [12]:
new_df.describe()

,year,suicides_no,population,gdp_for_year ($),gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,2.782000e+04,27820.000000
mean,2001.258375,242.574407,1.844794e+06,4.455810e+11,16866.464414
std,8.469055,902.047917,3.911779e+06,1.453610e+12,18887.576472
min,1985.000000,0.000000,2.780000e+02,4.691962e+07,251.000000
25%,1995.000000,3.000000,9.749850e+04,8.985353e+09,3447.000000
50%,2002.000000,25.000000,4.301500e+05,4.811469e+10,9372.000000
75%,2008.000000,131.000000,1.486143e+06,2.602024e+11,24874.000000
max,2016.000000,22338.000000,4.380521e+07,1.812071e+13,126352.000000

In [13]:
bins = [i for i in range(0, 22345, 5)]
labels = [f"{5 * i}-{5*(i + 1)}" for i in range(len(bins) - 1)]

In [14]:
new_df['suicides_no'] = pd.cut(x = new_df['suicides_no'], bins = bins, labels = labels, include_lowest = True)

In [15]:
bins = [i for i in range(0, 127000, 500)]
labels = [f"{500 * i}-{500*(i + 1)}" for i in range(len(bins) - 1)]
new_df['gdp_per_capita ($)'] = pd.cut(x = new_df['gdp_per_capita ($)'], bins = bins, labels = labels, include_lowest = True)

In [16]:
bins = [0, 1e8, 1e9, 1e10, 1e11, 1e12, 1e13, 1e14]
labels = ["0-1e7", "1e7-1e8", "1e8-1e9", "1e9-1e10", "1e10-1e11", "1e11-1e12", "1e12-1e13"]
print(bins[0], bins[-1])
print(labels[0], labels[-1])
new_df['gdp_for_year ($)'] = pd.cut(x = new_df['gdp_for_year ($)'], bins = bins, labels = labels, include_lowest = True)

0 100000000000000.0
0-1e7 1e12-1e13

In [19]:
bins = [0, 1e1, 1e2, 1e3, 1e4, 1e5, 1e6, 1e7, 1e8]
labels = ["0-1e1", "1e1-1e2", "1e2-1e3", "1e3-1e4", "1e4-1e5", "1e5-1e6", "1e6-1e7", "1e7-1e8"]
print(bins[0], bins[-1])
print(labels[0], labels[-1])
new_df['population'] = pd.cut(x = new_df['population'], bins = bins, labels = labels, include_lowest = True)

0 100000000.0
0-1e1 1e7-1e8

In [23]:
new_df.to_csv('binned.csv', index=False)